<div class="weui-panel">
    <div class="weui-panel__hd">{{ title }}</div>
</div>
<div class="weui-flex" ng-repeat="data in datas">
    <div class="weui-flex__item" ng-repeat = "item in data">
        <div class="placeholder">
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title">{{item.quantity}}</h4>
                    <ul class="weui-media-box__info">
                        <li class="weui-media-box__info__meta">{{item.date}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
