<article class="weui-article">
    <h1 align="center">
        用水情况
    </h1>
    <hr>
    <a ng-href="#!/waterconsumption/detail/1" class="weui-btn weui-btn_plain-primary">今日用水情况</a>
    <a ng-href="#!/waterconsumption/detail/2" class="weui-btn weui-btn_plain-primary">本周用水情况</a>
    <a ng-href="#!/waterconsumption/detail/3" class="weui-btn weui-btn_plain-primary">本月用水情况</a>
    <a class="weui-btn weui-btn_primary" ng-href="#!/machine" id="showTooltips">返回</a>
    <br><br>
    <div class="page__bd page__bd_spacing">
        <div class="weui-footer">
            <p class="weui-footer__text">Copyright &copy; 2017 梦云智</p>
        </div>
    </div>
</article>