<article class="weui-article">
     <h1 align="center">
        滤芯情况
    </h1>
    <hr>
    <a ng-href="" class="weui-btn weui-btn_plain-primary">（1级）</a>
    <a ng-href="" class="weui-btn weui-btn_plain-primary">（2级）</a>
    <a class="weui-btn weui-btn_primary" ng-href="#!/machine" id="showTooltips">返回</a>
    <br><br>
    <br><br>
    <div class="page__bd page__bd_spacing">
        <div class="weui-footer">
            <p class="weui-footer__text">Copyright &copy; 2017 梦云智</p>
        </div>
    </div>
</article>
