<!-- <article class="weui-article">
    <h1 align="center">
        天津依之纯环保科技有限责任公司</p>天津益升纯环保科技有限责任公司</p>
        天津恋纯环保科技有限责任公司</p>
    </h1>
    <hr>
    <h2 class="title" align="center">网页由该公众号开发，请确认授权以下信息</h2>
    <div align="center"><h3><ul><input id="weuiAgree" type="checkbox" class="weui-agree__checkbox">&nbsp;&nbsp;获得你的公开信息（昵称、头像等）</ul></h3></div>
    <br>
    <a class="weui-btn weui-btn_primary" ng-href="#!/login" id="showTooltips">确认登录</a>
</article> -->
<h4><strong>&nbsp;&nbsp;&nbsp;大标题</strong></h4>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <p>今日用水量</p>
    </div>
    <div class="weui-cell__ft">100L</div>
</div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <p>剩余用水量</p>
    </div>
    <div class="weui-cell__ft">1000L</div>
</div>
<div id="main" style="width: 80%;height:300px; margin-top: 30px;margin-left: 5%;"></div>



<div class="weui-tab">
    <div class="weui-navbar">
        <div class="weui-navbar__item">
            <a ng-href="#!/waterquality" id="showTooltips">水质状态</a>
        </div>
        <div class="weui-navbar__item">
            <div class="dropup">
              <a ng-href="#!/login" id="showTooltips">
                我的净水器
              </a>
            </div>
        </div>
        <div class="weui-navbar__item">
            <a ng-href="#!/recharge" id="showTooltips">点我充值</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    //data
    var data = [220, 182, 191, 234, 190, 230, 210, 10, 200];
    var markLineData = [];
    for (var i = 1; i < data.length; i++) {
        markLineData.push([{
            xAxis: i - 1,
            yAxis: data[i - 1],
            value: (data[i] + data[i-1]).toFixed(2)
        }, {
            xAxis: i,
            yAxis: data[i]
        }]);
    }

    //option
    option = {
        title: {
            text: '最近一周用水量'
        },
        tooltip : {
            trigger: 'axis'
        },    
        xAxis: {
            data: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
        },
        yAxis: {},
        series: [{
            type: 'line',
            data:data,
            markPoint: {
                data: [
                    {type: 'max', name: '最大值'},
                    {type: 'min', name: '最小值'}
                ]
            },
            markLine: {
                smooth: true,
                        effect: {
                            show: true
                        },
                        distance: 10,
                label: {
                    normal: {
                        position: 'middle'
                    }
                },
                symbol: ['none', 'none'],
                data: markLineData
            }
        }]
    };
            

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
