<table align="center" class="table table-bordered table_main">
    <thead>
        <tr>
            <th>
                <div align="center">
                    天津依之纯环保科技有限责任公司</p>天津益升纯环保科技有限责任公司</p>天津恋纯环保科技有限责任公司</p>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <tr>
                <td bgcolor="#5B9BD5" align="center">
                    <a href="#!/machine"><img src="../../images/1.gif" width="140" height="140" alt="机器情况" /></a>
                    <br>
                    <br>
                    <a href="#!/onlinedetailers"><img src="../../images/2.gif" width="140" height="140" alt="电商平台" /></a>
                </td>
            </tr>
        </tr>
    </tbody>
</table>
