<!-- <article class="weui-article">
    <flex-slider slide="x in items track by x.id">
        <li>
            <img ng-src="{{x.img}}">
        </li>
    </flex-slider>
    <hr>
    <a ng-href="#!/machine" class="weui-btn weui-btn_plain-primary">机器情况</a>
    <a ng-href="#!/onlinedetailers" class="weui-btn weui-btn_plain-primary">电商平台</a>
    <br>
    <div>
    <p>今日用水情况：20升</p>
    </div>
    <br>
    <div class="page__bd page__bd_spacing">
        <div class="weui-footer">
            <p class="weui-footer__text">Copyright &copy; 2017 梦云智</p>
        </div>
    </div>
</article> -->
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">净水器编号</label>
        </div>
        <div class="weui-cell__bd">
            <input type="number" class="weui-input" id="inputPassword3" value="2322" disabled="disabled">
        </div>
        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_warn">解绑</a>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">净水器编号</label>
        </div>
        <div class="weui-cell__bd">
            <input type="number" class="weui-input" id="inputPassword3" value="2422" disabled="disabled">
        </div>
        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_warn">解绑</a>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">净水器编号</label>
        </div>
        <div class="weui-cell__bd">
            <input type="number" class="weui-input" id="inputPassword3" value="1322" disabled="disabled">
        </div>
        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_warn">解绑</a>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <input type="password" class="weui-input" id="inputPassword3" placeholder="请输入净水器编号">
        </div>
        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">绑定</a>
    </div>
</div>
<a class="weui-btn weui-btn_primary" id="showTooltips">新增</a>
<a ng-href="#!/index" class="weui-btn weui-btn_plain-primary">返回</a>
