<!-- <article class="weui-article">
    <h1 align="center">
        水质情况
    </h1>
    <hr>
    <a ng-href="" class="weui-btn weui-btn_plain-primary">净化前水质</a>
    <a ng-href="" class="weui-btn weui-btn_plain-primary">净化后水质</a>
    <a class="weui-btn weui-btn_primary" ng-href="#!/machine" id="showTooltips">返回</a>
    <br><br>
    <div class="page__bd page__bd_spacing">
        <div class="weui-footer">
            <p class="weui-footer__text">Copyright &copy; 2017 梦云智</p>
        </div>
    </div>
</article> -->
<div class="weui-form-preview">
    <div class="weui-form-preview__hd">
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">剩余滤芯</label>
            <em class="weui-form-preview__value">
                <span class="weui-badge" style="font-size:70%;">90%</span>
            </em>
        </div>
    </div>
    <div class="weui-form-preview__hd">
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">净水前水质状态</label>
            <em class="weui-form-preview__value">
                <span class="weui-badge" style="background-color: #ec971f;font-size:70%;">75%</span>
            </em>
        </div>
    </div>
    <div class="weui-form-preview__hd">
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">净水后水质状态</label>
            <em class="weui-form-preview__value">
                <span class="weui-badge" style="background-color: green;font-size:70%;">90%</span>
            </em>
        </div>
    </div>
</div>
<a ng-href="#!/index" class="weui-btn weui-btn_plain-primary">返回</a>
