<article class="weui-article">
    <h1 align="center">
        天津依之纯环保科技有限责任公司</p>天津益升纯环保科技有限责任公司</p>
        天津恋纯环保科技有限责任公司</p>
    </h1>
    <hr>
    <a ng-href="#!/package" class="weui-btn weui-btn_plain-primary">套餐情况</a>
    <a ng-href="#!/recharge" class="weui-btn weui-btn_plain-primary">充值</a>
    <a class="weui-btn weui-btn_primary" ng-href="#!/mainpage" id="showTooltips">返回</a>
    <br><br>
    <div class="page__bd page__bd_spacing">
        <div class="weui-footer">
            <p class="weui-footer__text">Copyright &copy; 2017 梦云智</p>
        </div>
    </div>
</article>
