<table align="center" class="table table-bordered table_main">
    <thead>
        <tr>
            <th>
                <div align="center">
                    天津依之纯环保科技有限责任公司</p>天津益升纯环保科技有限责任公司</p>天津恋纯环保科技有限责任公司</p>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <tr>
                <td bgcolor="#5B9BD5" align="center">
                    <a href="#!/package"><button class="btn btn-large" type="button">套餐情况</button></a><br><br>
                    <a href="#!/recharge"><button class="btn btn-large" type="button">充值</button></a><br><br>
                    <a href="#!/mainpage"><button align="center" class="btn btn-large btn-block" type="button">返回上级页面</button></a>
                </td>
            </tr>
        </tr>
    </tbody>
</table>
