<div class="weui-cells weui-cells_form">
    <div class="weui-cell weui-cell_warn">
        <div class="weui-cell__hd">
            <label for="" class="weui-label">卡号</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" pattern="[0-9]*" value="weui input error" placeholder="请输入卡号" />
        </div>
        <div class="weui-cell__ft">
            <i class="weui-icon-warn"></i>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">支付密码</label>
        </div>
        <div class="weui-cell__bd">
            <input type="password" class="weui-input" id="inputPassword3" placeholder="请输入支付密码">
        </div>
    </div>
</div>
<br>
<a class="weui-btn weui-btn_primary" ng-href="#!/onlinedetailers/success" id="showTooltips">确认支付</a>
