<table align="center" class="table table-bordered table_main">
    <thead>
        <tr>
            <th>
                <div align="center">
                    <h3>商品支付</h3>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <tr>
                <td bgcolor="#5B9BD5" align="center">
                    <form action="demo-form.php">
                        请输入密码:
                        <input type="text" name="password" placeholder="password">
                        <br><br>
                    <button type="button" class="btn btn-large" data-toggle="modal" data-target="#payment">确认支付</button><br><br>
                    <div class="modal fade" id="payment" tabindex="-1" role="dialog" aria-labelledby="paymentLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="paymentLabel">支付信息</h4>
                                </div>
                                <div class="modal-body">
                                    <p>您已支付成功</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#!/onlinedetailers"><button align="center" class="btn btn-large btn-block" type="button">返回电商平台页面</button></a>
                    </form>
                </td>
            </tr>
        </tr>
    </tbody>
</table>
