<!-- <i class="weui-icon-success weui-icon_msg"></i>
<div class="weui-form-preview">
  <div class="weui-form-preview__hd">
    <label class="weui-form-preview__label">付款金额</label>
    <em class="weui-form-preview__value">¥20.00</em>
  </div>
  <div class="weui-form-preview__bd">
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label">净水机编号</label>
      <span class="weui-form-preview__value">2322</span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label">水量</label>
      <span class="weui-form-preview__value">200L</span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label">订单编号</label>
      <span class="weui-form-preview__value">43324232343</span>
    </div>
    <div class="weui-form-preview__ft">
        <a class="weui-form-preview__btn weui-form-preview__btn_primary" ng-href="#!/index">返回</a>
    </div>
</div> -->
<center><i class="weui-icon-success weui-icon_msg"></i></center>
<h4 align="center" style="color: #3cc51f;">支付成功</h4>
<div align="center" class="weui-cells__title">收款方净水器公司</div>
<h3 align="center">￥20.00</h3>
<a ng-href="#!/index" class="weui-btn weui-btn_primary">完成</a>
