<div class="page__hd">
        <h1 class="page__title">支付页面</h1>
</div>
<div class="weui-form-preview">
            <div class="weui-form-preview__hd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">付款金额</label>
                    <em class="weui-form-preview__value">¥300.00</em>
                </div>
            </div>
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">商品</label>
                    <span class="weui-form-preview__value">套餐一</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">标题标题</label>
                    <span class="weui-form-preview__value"><span>300</span>元 0.3/升</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">卖家</label>
                    <span class="weui-form-preview__value">天津依之纯环保科技有限责任公司、天津益升纯环保科技有限责任公司、天津恋纯环保科技有限责任公司</span>
                </div>
            </div>
            <div class="weui-form-preview__ft">
                <a class="weui-form-preview__btn weui-form-preview__btn_primary" ng-href="#!/onlinedetailers/password"><h4
                >支付</h4></a>
            </div>
            <a class="weui-btn weui-btn_primary" ng-href="#!/onlinedetailers" id="showTooltips">返回</a>
        </div>
        <br><br>
    <div class="page__bd page__bd_spacing">
        <div class="weui-footer">
            <p class="weui-footer__text">Copyright &copy; 2017 梦云智</p>
        </div>
    </div>
