<article class="weui-article">
    <h1 align="center">
        天津依之纯环保科技有限责任公司</p>天津益升纯环保科技有限责任公司</p>
        天津恋纯环保科技有限责任公司</p>
    </h1>
    <hr>
    <div class="weui-flex">
        <div class="weui-flex__item">
            <div class="placeholder">
                <a ng-href="#!/onlinedetailers/payment" class="weui-btn weui-btn_plain-primary">套餐一：<span>300</span>元 0.3/升</a>
            </div>
        </div>
        <div class="weui-flex__item">
            <div class="placeholder">
                <a ng-href="#!/onlinedetailers/payment" class="weui-btn weui-btn_plain-primary">套餐二：<span>500</span>元 0.3/升</a>
            </div>
        </div>
    </div>
    <br>
    <div class="weui-flex">
        <div class="weui-flex__item">
            <div class="placeholder">
                <a ng-href="#!/onlinedetailers/payment" class="weui-btn weui-btn_plain-primary">套餐三：<span>360</span>元 0.3/升</a>
            </div>
        </div>
        <div class="weui-flex__item">
            <div class="placeholder">
                <a ng-href="#!/onlinedetailers/payment" class="weui-btn weui-btn_plain-primary">套餐四：<span>420</span>元 0.3/升</a>
            </div>
        </div>
    </div>
    <br>
    <a ng-href="" class="weui-btn weui-btn_default">套餐情况</a>
    <a class="weui-btn weui-btn_primary" ng-href="#!/onlinedetailers" id="showTooltips">返回</a>
    <br>
    <br>
    <div class="page__bd page__bd_spacing">
        <div class="weui-footer">
            <p class="weui-footer__text">Copyright &copy; 2017 梦云智</p>
        </div>
    </div>
</article>
